

body {
	padding: 1rem;
	background-color: black;
}


h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 200px

}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px
}


img {
	display: inline;
}
.projects {
	color: white;
}


.ex {
	transform: rotate(-90deg);
	margin-left: 1100px;
	float:right;
	color: white;
	padding: 1rem;
}


.one:hover {
	color: yellow;
	cursor: pointer
}

.two:hover {
	color: yellow;
	cursor: pointer
}
	

.sea {
	position: absolute;
	margin-top: -20vw;
	margin-left: 60vw;
	cursor: pointer
}

.default {
	margin-top: 20vw;
/*	transform: rotate(45deg);
*/}

.hamburger {
	width: 500px;
	margin-top: -20vw;
	margin-left: 60vw;
	cursor: pointer
}

.gestures {
	width: 30vw;
	margin-top: -20vw;
	margin-left: 65vw;
	cursor: pointer
}

.notnice {
	position: absolute;
	margin-top: -300px;
	margin-left: 40vw;
	width: 600px;
	cursor: pointer
}

.web {
	transform: rotate(-45deg);
}

.goeun {
	padding: 2rem;
	position: absolute;
	margin-left: 40vw;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	transform: rotate(-90deg);
	margin-left: 80vw;
}